<div class="sub-page-header">
  <h1>Details</h1>
  <h2 class="subtitle">...About this fantastic door</h2>
</div>
<div class="content">
  <div class="left-side image-container">
    <img [src]="targetDoorImage" class="image-item">
  </div>
  <div class="divider" role="separator" aria-label="Divider"></div>
  <div class="right-side">
    <table>
      <tr>
        <th class="detail-label">Style</th>
        <td class="detail-value"><i>Shaker</i></td>
      </tr>
      <tr>
        <th class="detail-label">Dimensions</th>
        <td class="detail-value"><i>30x80</i></td>
      </tr>
      <tr>
        <th class="detail-label">Color</th>
        <td class="detail-value"><i>Eggshell White</i></td>
      </tr>
      <tr>
        <th class="detail-label">Material</th>
        <td class="detail-value"><i>Recycled Wood</i></td>
      </tr>
      <tr>
        <th class="detail-label">Design</th>
        <td class="detail-value"><i>Inlaid Phillies Logo & Baseballs</i></td>
      </tr>
      <tr>
        <th class="detail-label">Price</th>
        <td class="detail-value"><i>$9,000,000.00</i></td>
      </tr>
    </table>
  </div>
</div>

