<div class="sub-page-header">
  <h1>Details</h1>
  <h2 class="subtitle">...About this fantastic door</h2>
</div>
<div class="content">
  <div class="left-side image-container">
    <img [src]="thisDoor.imgSrc" class="image-item">
  </div>
  <div class="divider" role="separator" aria-label="Divider"></div>
  <div class="right-side">
    <table>
      <tr>
        <th class="detail-label">Name</th>
        <td class="detail-value"><i>{{ thisDoor.name }}</i></td>
      </tr>
      <tr>
        <th class="detail-label">Style</th>
        <td class="detail-value"><i>{{ thisDoor.style }}</i></td>
      </tr>
      <tr>
        <th class="detail-label">Color</th>
        <td class="detail-value"><i>{{ thisDoor.color }}</i></td>
      </tr>
      <tr>
        <th class="detail-label">Material</th>
        <td class="detail-value"><i>{{ thisDoor.material }}</i></td>
      </tr>
      <tr>
        <th class="detail-label">Tags</th>
        <td class="detail-value"><i>{{ thisDoor.tags }}</i></td>
      </tr>
      <tr>
        <th class="detail-label">Price</th>
        <td class="detail-value"><i>{{ thisDoor.cost | currency }}</i></td>
      </tr>
    </table>
  </div>
</div>

