<div class="sub-page-header">
  <h1>Details</h1>
  <h2 class="subtitle">...About this fantastic door</h2>
</div>
<div class="content">
  <div class="left-side image-container">
    <img [src]="targetDoorImage" class="image-item">
  </div>
  <div class="divider" role="separator" aria-label="Divider"></div>
  <div class="right-side">
    <div class="detail-container">
      <div>
        <label class="detail-label"><u>Style</u></label>
      </div>
      <div>
        <label class="detail-value"><i>Shaker</i></label>
      </div>
    </div>
    <div class="detail-container">
      <div>
        <label class="detail-label"><u>Dimensions</u></label>
      </div>
      <div>
        <label class="detail-value"><i>30x80</i></label>
      </div>
    </div>
    <div class="detail-container">
      <div>
        <label class="detail-label"><u>Color</u></label>
      </div>
      <div>
        <label class="detail-value"><i>Eggshell White</i></label>
      </div>
    </div>
    <div class="detail-container">
      <div>
        <label class="detail-label"><u>Material</u></label>
      </div>
      <div>
        <label class="detail-value"><i>Recycled Wood</i></label>
      </div>
    </div>
    <div class="detail-container">
      <div>
        <label class="detail-label"><u>Design</u></label>
      </div>
      <div>
        <label class="detail-value"><i>Inlaid Phillies Logo & Baseballs</i></label>
      </div>
    </div>
    <div class="detail-container">
      <div>
        <label class="detail-label"><u>Price</u></label>
      </div>
      <div>
        <label class="detail-value"><i>$9,000,000.00</i></label>
      </div>
    </div>
  </div>
</div>

